aws_region         = "eu-west-1"
project_name       = "customer-inquiry-manager"
environment        = "dev"
vpc_cidr           = "10.0.0.0/16"
availability_zones = ["eu-west-1a", "eu-west-1b"]

# Custom Domain & Inbound Support Email (e.g. from GitHub Student Pack .TECH / Namecheap .me)
domain_name        = "your-custom-domain.tech"
support_email      = "support@your-custom-domain.tech"
